.drop_menu {
    width: 120px;
    top: -15px;
    margin-right: 20px;
    box-sizing: content-box;
    background-color: #fafafa;
    position: absolute;
    display: none;
}
.burger{
    position: relative;
}
.burger_drop{
    top: 0;
    right: 0;
}
.drop_menu a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #535353;
    padding: 10px 18px;
    text-align: left;
}
.drop_menu a:last-child{
    margin-bottom: -10px;
}
.burger_drop a:last-child{
    margin-bottom: 0px;
}
.drop_menu .header{
    padding: 10px;
    margin-left: -8px;
}
 .drop_menu>a:hover{
    background-color: #eeeeee;
}
 .burger:hover .drop_menu{
     display: block;
 }



