@media  screen and (max-width: 770px){
    #hidden{
        display: none;
    }
    .first .main{
        height: 240px;
    }
}
@media screen and (max-width: 700px){
    #sign_hidden{
        display: none;
    }
    header nav {
        display: none;
    }
    header .burger{
        display: block;
    }
    header .sign_in{
        justify-content: space-around;
        margin-top: 40px;
        margin-right: 46px;
    }
    footer .side_down nav{
        display: none;
    }
    footer .side_down .rights_reserved{
        margin: 0 auto;
    }
}
@media screen and (max-width: 1080px) {
    article .none{
        display: none;
    }
}


