@font-face {
    src: url("/font/3966.ttf");
    font-family: 'Roboto Regular';
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Regular';
}
header{
    width: 100%;
    height: 90px;
    background-color: #242526;
    box-sizing: border-box;
}
header .container{
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    height: 90px;
}
header .logo{
    width: auto;
    height: 65px;
    margin-top: 15px;
    padding-right: 50px;
    margin-left: 20px;
}
header .logo img{
    width: auto;
    height: 65px;
}
header nav{
    max-width: 680px;
    display: flex;
    text-decoration: none;
    flex-grow: 1;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: auto;
}
header nav div{
    border-bottom: 4px solid transparent;
    padding-bottom: 28px;
    flex-basis: 80px;
    max-width: 170px;
    flex-grow: 1;
    text-align: center;
    position: relative;
    margin-right: 15px;
}
header nav a{
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #DEE6EB;
    white-space: nowrap;
}
header nav>div:hover{
    border-bottom: 4px solid #68EEED;
}
header nav>div:hover a{
    color: #68EEED;
    text-decoration: none;
}
    header form button {
        outline: none;
        border: 2px solid #DEE6EB;
        color: white;
        background-color: transparent;
        border-radius: 3px;
        padding: 5px;
        margin-top: -10px;
    }
        header form button:hover {
            border: 2px solid #68EEED;
            color: #68EEED;
            transition: border-color ease-in 0.7s;
            transition: color ease-in 0.7s;
        }
header nav>div:hover .drop_menu{
    display: block;
}
header .burger{
    margin: 33px 0px;
    display: none;
}

header #sign_hidden:hover{
    color: #68EEED;
}
header .sign_in{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 300px;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 50px;
    text-align: right;
}
header .sign_in a{
    text-decoration: none;
    color: white;
}


header .burger #icon{
    background: url("/images/icon.png") no-repeat;
    width: 30px;
    height: 24px;
    margin-right: 20px;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.part1{
    width: 100%;
    height: auto;
    word-wrap: normal;
    background-color: white;
}
.part1 .title{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 400px;
    height: 200px;
    background-color: #68EEED;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
}
.part1 .text{
    margin: 40px;
    font-size: 20px;
}
button{
    outline: none;

}
article .content{
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
}
article section{
    max-width: 780px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0  auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
article section .header{
    padding: 30px;
    padding-bottom: 15px;
    background-color: #eff1f2;
}
section .name{
    font-size: 18px;
    color: #242526;

}
section .photo{
    max-height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
section .mobile_photo img{
    width: 110%;
}
section .post_text{
    padding: 30px;
    background-color: #eff1f2;
}
section .post_text #character{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

section button{
    display: inline-block;
    width: 112px;
    background-color: #59c2c1;
    border: none;
    outline: none;
    border: 1px solid #51b2b1;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}
section button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
}
section button .button-name{
    color: #303233;
    font-size: 14px;
    padding: 14px 36px;
}
article .under_photo{
    display: flex;
    max-width: 780px;
    justify-content: space-between;
    background-color: #eff1f2;
}
article .marks{
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin-right: 30px;
}
.icon-dislikes{
    background: url("/images/dislike.png") no-repeat center;
    background-color: white;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    display: inline-block;
    position: relative;
}
.icon-likes{
    background: url("/images/like.png") no-repeat center;
    background-color: white;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    position: relative;
    display: inline-block;
}
.icon-dislikes:focus{
    background: url("/images/dislike_active.png") no-repeat center;
    background-color: #d02828;
    outline: none;
    top: 0;
}
.icon-likes:focus{
    background: url("/images/like_active.png") no-repeat center;
    background-color: #59c2c1;
    outline: none;
    top: 0;
}

footer .container_for_text{
    width: 100%;
    background-color: #e6e7e8;
}
footer .side_down{
    height: 60px;
    display: flex;
    max-width: 1264px;
    padding: 0 44px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
footer .side_down nav{
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
footer .side_down a{
    text-decoration: none;
    color: #242526;
    font-size: 12px;
    margin-right: 10px;
}
footer .side_down a:hover{
    color: #68EEED;
}
footer .rights_reserved{
    color: #242526;
    font-size: 14px;
    display: block;
}



