﻿@{
    ViewData["Title"] = "Розробники";
}
<style>
    header nav div:nth-child(4) {
        border-bottom-color: white;
    }
</style>
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h1>blabla</h1>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
