﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Games ZTU</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styleforProject.css" />
        <link rel="stylesheet" href="~/css/media_for_header.css">
        <link rel="stylesheet" href="~/css/drop_menu&burger.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!--Анимация загрузки-->
    <div id="p_prldr" style="position: fixed;left: 0;top: 90px;right:0;bottom:0;background: #111111;z-index: 30; overflow-x: hidden; overflow-y: hidden;">
    <div class="contpre" style="width: 250px;height: 100px;position: absolute;left: 50%;top: 48%;margin-left:-125px;margin-top:-75px;color:#fff;font-size:40px;letter-spacing:-2px;text-align:center;line-height:35px;">
        <span class="svg_anm" style="position: absolute;width: 41px;height: 41px;background: url(/images/three-dots.svg) center center no-repeat;background-size:41px;margin: -16px 0 0 -16px;"></span>
        <br>Очікуйте<br>
        <small style="font-size:25px;">завантаження</small>
        </div>
    </div>
    <!-- Анимация загрузки-->
    <header>
        <div class="container">
            <div class="logo">
                <a  asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo3.png"></a>
            </div>
            <nav>
                <div id="hidden"><a  asp-area="" asp-controller="Home" asp-action="Index">ГОЛОВНА</a></div>
                <div><a  asp-area="" asp-controller="Home" asp-action="Games">ІГРИ</a></div>
                <div><a  asp-area="" asp-controller="Home" asp-action="Ratings">РЕЙТИНГИ</a></div>
                <div><a  asp-area="" asp-controller="Home" asp-action="Contact">РОЗРОБНИКИ</a></div>
            </nav>
            <div class="sign_in">
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <div class="burger">
                <div id="icon"></div>
                <div class="drop_menu burger_drop">
                    <a  asp-area="" asp-controller="Home" asp-action="Index">ГОЛОВНА</a>
                    <a  asp-area="" asp-controller="Home" asp-action="Games">ІГРИ</a>
                    <a  asp-area="" asp-controller="Home" asp-action="Ratings">РЕЙТИНГИ</a>
                    <a  asp-area="" asp-controller="Home" asp-action="Contact">РОЗРОБНИКИ</a>
                </div>
            </div>
        </div>
    </header>
 
   
        @RenderBody()
    
        <hr />


    <footer>
        <div class="container_for_text">
            <div class="side_down">
                <nav>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ГОЛОВНА</a>
                    <a asp-area="" asp-controller="Home" asp-action="Games">ІГРИ</a>
                    <a asp-area="" asp-controller="Home" asp-action="Ratings">РЕЙТИНГ</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">РОЗРОБНИКИ</a>
                </nav>
                <div class="rights_reserved">
                    &copy; 2018. Games by ZTU fans.
                </div>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/parallax.min.js"></script>
        <script type="text/javascript">
            $(window).on('load', function () {
                var $preloader = $('#p_prldr'),
                    $svg_anm = $preloader.find('.svg_anm');
                $svg_anm.fadeOut();
                $preloader.fadeOut('slow');
            });
        </script><!--анимация загрузки-->
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/parallax.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
