﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form style="display: flex; flex-wrap:nowrap; justify-content: space-around; width: 100%;" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
       
         <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
        <div>
            <button type="submit">Вийти</button>
        </div>
       
    </form>
}
else
{
   
        <a asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
        <a asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
    
}
